.main_div {
    width: 360px;
    height: 568px;
    background: black;
    display: table;
    color: blanchedalmond;
}

.header{
    text-align: center;
    align-items: center;
    color: coral;
    text-decoration: underline;
    /* text-shadow: cyan; */
}

.continue_button{
    align-items: center;
    display: flex;
}

.image_container{
    width: 250px;
    height: 250px;
    border: 1px solid cyan;
}

.image_wrapper{
    max-width: 250px;
    height: 250px;
    /* margin-left: 10px; */
    /* object-fit: cover; */
    overflow: hidden;
    background-size: contain;
    /* background-size: cover; */
}