<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static',    filename='css/reset.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static',    filename='css/style.css') }}">
  <!-- <link rel="stylesheet" type="text/css" href="../static/css/reset.css"> -->
  <!-- <link rel="stylesheet" type="text/css" href="../static/css/style.css"> -->
  <title>Image Cartoonizing</title>
</head>

<body>
  <div class="main_div">
    <!-- <script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js"></script> -->

    <div>
      <h3 class="header">Cartoonize/Sketch Your Image Here!!</h3>
    </div>
    <div class="continue_button">
      <div class="fb-login-button" data-size="medium" data-button-type="continue_with" data-layout="rounded"
        data-auto-logout-link="false" data-use-continue-as="true"></div>
    </div>
    
    <hr />
    <div class="submit_div">
      
      <form method="post" action="/img" enctype="multipart/form-data">
        
        <div class="select_btn" >
          <input type='file'  name="file" autocomplete="off" required>
          <!-- <input type="file" id="browse_btn" name="filename"> -->
          <!-- <input id="browse_btn" type="file" name="file" autocomplete="off" required> -->
        </div>
        <hr/>
        
        <div class="selection_buttons">
          <input id="cartoonize" type="submit" value="Cartoonize">
          <input id="sketch" type="submit" value="Sketch">
        </div>
        


        <!-- <input id="submit_btn" type="submit" value="Upload"> -->

      </form>
    </div>

   

    

    <hr />
    <div><h5 class="image_header">Processed Image</h5> </div>




    <hr />


    <div class="image_container">
      {% if filename %}
      <div class="image_wrapper_small">
        <img src="{{ url_for('display_image', filename=filename) }}">
      </div>
      {% endif %}
      {% if filename %}
      <div class="image_wrapper">
        <img src="{{ url_for('display_image', filename=filename) }}">
      </div>
      {% endif %}

    </div>
    

    <div class="download_btn">
      <button id="download">Download Image</button>
    </div>

    



  </div>

  <script type="text/javascript" src="{{ url_for('static',    filename='js/main.js') }}"></script>

</body>

</html>